# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data (optional)
data/

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# IDE
.vscode/
.idea/